.form{
  margin:0 auto;
  max-width:95%;
  box-sizing:border-box;
}
label{
  width: 110px;
  margin: 10px;
}
.formGroup{
  width: 100px;
}
.input{
  margin: 10px;
}

.btn-submit{
  background-color: rgb(59, 156, 143);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  padding: 8px 21px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  margin-top: 40px;
}
.btn-submit:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn-cancel{
  background-color: rgb(214, 84, 116);
  border: none;
  color: white;
  font-size: 10px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  margin-top: 10px;
  border-radius: 6px;
}

.btn-cancel:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.formErrors{
  color:red;
  max-width:95%;
  padding:4px;
  background-color: white;
}
.titleForm{
  display: flex;
  justify-content: space-between;
}
.success{
  color: rgb(59, 156, 143);
}