.item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 6fr;
    grid-template-columns: 2fr 6fr;
    grid-gap: 2vw;
    border: 0.5px solid gray;
    border-radius: 10px;
    background-color: white;
    font-size: 12px;
    margin-bottom: 30px;
    padding: 15px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.infoTicket {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 1fr 4fr;
    grid-template-columns: 4fr 1fr 4fr;
    grid-gap: 1vw;
    text-align: center;
    border: 0.5px solid #e2e2e2;
    border-radius: 10px;
}

.ticketList{
    margin-left: 8%;
    padding: 0 10%;
}

.buyTicket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.5px solid #e2e2e2;
    border-radius: 10px;
}

.buyTicket img{
    max-width: 60px;
}

.button {
    background-color: rgb(59, 156, 143);
    border: none;
    border-radius: 16px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    padding: 17px 25px 0px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 0.5;
    cursor: pointer;
    outline: none;
}

.button p{
    font-size: 16px;
    font-weight: 600;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.time{
    font-size: 24px;
    font-weight: bold;
}

.point{
    font-size: 20px;
}
.stops{
    padding-top: 42px;
    color: gray;
}

.showModal {
    display: block;
    position: absolute;
    left: 40%;
    top: 5%;
    z-index: 200;
    border: 0.5px solid gray;
    border-radius: 10px;
    background-color: white;
    font-size: 12px;
    margin-bottom: 30px;
    padding: 15px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 220px;
    height: auto;
}

.hideModal {
    display: none;
}