select{
    cursor: pointer;
}
.sideBar-container{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    border: 0.5px solid gray;
    border-radius: 10px;
    max-height: 340px;
    min-width: 160px;
    background-color: white;
    font-size: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.change-cash{
    margin: 0 auto 50px;
}
.filter-stops {
    display: flex;
    flex-direction: column;
    padding: 1px;
}


.currency-btn{
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: rgb(68,68,68);
    text-decoration: none;
    user-select: none;
    padding: .2em 1.2em;
    outline: none;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
    transition: all .218s ease 0s;
    cursor: pointer;
}
.currency-btn:hover {
    color: rgb(24,24,24);
    border: 1px solid rgb(198,198,198);
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.currency-btn:active {
    color: rgb(51,51,51);
    border: 1px solid rgb(204,204,204);
    background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}